#port to run the app on
RFR_PORT=

#adress of endpoint domain name or IP address
SPARQL_ADDRESS=

#Classes you wish to include, if null everything is kept
#INCLUDE="classA classB"
INCLUDED_CLASSES=

#Same but for exclusion
EXCLUDED_CLASSES=

#Namespaces You wish to include , if null everything is kept
#INCLUDE="NSA NSB"
INCLUDED_NAMESPACES=

EXCLUDED_NAMESPACES=