# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run test across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
  pull_request:

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  node_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3

      - name: Setup node js
        uses: actions/setup-node@v4.0.2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4.0.2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Cache
        uses: actions/cache@v3.0.2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-

      - run: npm ci --ignore-scripts
      - run: npm run build --if-present
      - run: npm test

      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure() # run this step even if previous step failed
        with:
          name: JEST Tests # Name of the check run which will be created
          path: reports/jest*.xml # Path to test results
          reporter: jest-junit # Format of test results

  helm_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Helm Check Action
        uses: hopisaurus/helm-check-action@v0.1.0
        env:
          CHART_LOCATION: ./charts/rfreformed
          CHART_VALUES: ./charts/rfreformed/values.yaml
        with:
          chart-location: ./charts/rfreformed
          chart-values: ./charts/rfreformed/values.yaml
